# folders
.github/
.codacy/
.cursor/
.claude/
.vscode/
.idea/
.moderne/
reports/
test/
dump/
!dump/exist-distribution-*/
.git/
node_modules/

# files
check-qemu-env.sh
log4j2-docker.xslt
.github_token
.java-version
/conf.xml
*.log
*.xml.bak
.DS_Store
