name: Java 8
on: [push, pull_request]

env:
  TEST_TAG: ${{ secrets.DOCKER_USERNAME }}/existdb:exist-ci
  EXIST_VER: 6.0.1

jobs:
  build:
    name: Build and Test Images
    runs-on: ubuntu-latest
    # NOTE (DP): Test on PRs and pushes
    if: github.ref == 'refs/heads/main' || github.base_ref ==  'main'
    steps:
    
    # SETUP
      - uses: actions/checkout@v2
        with:
          fetch-depth: 1

      - name: Set up JDK 8
        uses: actions/setup-java@v2
        with:
          distribution: temurin
          java-version: '8'

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v1
        with:
          platforms: linux/amd64,linux/arm64 
          # platforms: all

      - name: Login to Docker Hub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Make buildkit default
        uses: docker/setup-buildx-action@v1
        id: buildx
        with:
          install: true

      - name: Install bats and Saxon
        run: sudo apt-get install bats libsaxonb-java

      - name: Check local images
        run: docker image ls

      - name: Modify logging config
        run: saxonb-xslt -s:dump/exist-distribution-${{ env.EXIST_VER }}/etc/log4j2.xml -xsl:log4j2-docker.xslt -o:log4j2.xml

      # BUILD
      - name: Build local images for testing on CI
        uses: docker/build-push-action@v2
        with:
          context: .
          file: ./Dockerfile_j8
          load: true
          tags: ${{ env.TEST_TAG }}

      - name: Build debug images for testing on CI
        uses: docker/build-push-action@v2
        with:
          context: .
          build-args: DISTRO_TAG=debug
          file: ./Dockerfile_j8
          load: true
          tags: ${{ env.TEST_TAG }}-debug

      - name: Build nonroot images for testing on CI
        uses: docker/build-push-action@v2
        with:
          context: .
          build-args: |
            DISTRO_TAG=nonroot
            USR=nonroot:nonroot
          file: ./Dockerfile_j8
          load: true
          tags: ${{ env.TEST_TAG }}-nonroot        

      # TEST
      - name: Start exist-ci container
        run: |
          docker run -dit -p 8080:8080 --name exist-ci --rm ${{ env.TEST_TAG }}
          sleep 35s

      - name: Run tests
        run: bats --tap test/bats/*.bats

      # PUSH
      - name: Build and publish :latest to Dockerhub
      # only publish from main
        if: github.ref == 'refs/heads/main'
        uses: docker/build-push-action@v2
        with:
          context: ./
          platforms: linux/amd64,linux/arm64
          file: ./Dockerfile_j8
          builder: ${{ steps.buildx.outputs.name }}
          push: true
          tags: |
            ${{ secrets.DOCKER_USERNAME }}/existdb:latest-j8
            ${{ secrets.DOCKER_USERNAME }}/existdb:${{ env.EXIST_VER }}-j8
            ${{ secrets.DOCKER_USERNAME }}/existdb:release-j8
          cache-from: type=registry,ref=${{ secrets.DOCKER_USERNAME }}/existdb:buildcache
          cache-to: type=registry,ref=${{ secrets.DOCKER_USERNAME }}/existdb:buildcache,mode=max  

      - name: Build and publish :debug to Dockerhub
      # only publish from main
        if: github.ref == 'refs/heads/main'
        uses: docker/build-push-action@v2
        with:
          context: ./
          platforms: linux/amd64,linux/arm64
          file: ./Dockerfile_j8
          build-args: DISTRO_TAG=debug
          builder: ${{ steps.buildx.outputs.name }}
          push: true
          tags: |
            ${{ secrets.DOCKER_USERNAME }}/existdb:debug-j8
            ${{ secrets.DOCKER_USERNAME }}/existdb:${{ env.EXIST_VER }}-debug-j8
            ${{ secrets.DOCKER_USERNAME }}/existdb:release-debug-j8
          cache-from: type=registry,ref=${{ secrets.DOCKER_USERNAME }}/existdb:buildcache
          cache-to: type=registry,ref=${{ secrets.DOCKER_USERNAME }}/existdb:buildcache,mode=max 

      - name: Build and publish :nonroot to Dockerhub
      # only publish from main
        if: github.ref == 'refs/heads/main'
        uses: docker/build-push-action@v2
        with:
          context: ./
          platforms: linux/amd64,linux/arm64
          file: ./Dockerfile_j8
          build-args: |
            DISTRO_TAG=nonroot
            USR=nonroot:nonroot
          builder: ${{ steps.buildx.outputs.name }}
          push: true
          tags: |
            ${{ secrets.DOCKER_USERNAME }}/existdb:nonroot-j8
            ${{ secrets.DOCKER_USERNAME }}/existdb:${{ env.EXIST_VER }}-nonroot-j8
            ${{ secrets.DOCKER_USERNAME }}/existdb:release-nonroot-j8
          cache-from: type=registry,ref=${{ secrets.DOCKER_USERNAME }}/existdb:buildcache
          cache-to: type=registry,ref=${{ secrets.DOCKER_USERNAME }}/existdb:buildcache,mode=max       
